# SHA256 hash of your password
# To generate a hash, run: echo -n "your_password" | shasum -a 256
# Or use: https://emn178.github.io/online-tools/sha256.html
VITE_PASSWORD_HASH=YOUR_SHA_256_PASSWORD

