@import "@looped/config/theme.css";
@import "tailwindcss";
@import "@looped/config/base.css";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

.app-store-img-light {
  display: block;
}

.app-store-img-dark {
  display: none;
}

[data-theme="dark"] {
  --color-border: rgba(255, 255, 255, 0.18);
  --color-text-secondary: #cbd5e1;
}

[data-theme="dark"] .app-store-img-light {
  display: none;
}

[data-theme="dark"] .app-store-img-dark {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) .app-store-img-light {
    display: none;
  }

  :root:not([data-theme]) .app-store-img-dark {
    display: block;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
