@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --color-brand: #ea404a;
}

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 font-sans antialiased;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
